* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
body {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
.container {
  width: 83%;
  max-width: 1140px;
  margin: 0 auto;
}
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: white;
}
h1 span {
  color: #30b868;
}
h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #001931;
}
h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #001931;
}
p {
  font-weight: 400;
  font-size: 16px;
  color: #627382;
  margin: 16px 0;
}
.logo {
  width: 139px;
  height: 60px;
}
.btn {
  background-color: #30b868;
  padding: 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
}
.btn:hover {
  background-color: blue;
  cursor: pointer;
}
.btn-2 {
  padding: 16px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  font-size: 16px;
  color: whitesmoke;
}
.btn-2:hover {
  background-color: #ffffff;
  color: #001931;
  cursor: pointer;
}

/* navbar section */
nav {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  align-items: center;
}
nav ul li {
  display: flex;
  list-style: none;
  gap: 32px;
  align-content: center;
}
li a {
  text-decoration: none;
  color: black;
}

/* hero section */
.banner-container {
  text-align: center;
  padding: 70px 120px 135px;
  background-image: url("../assets/hero-bg.png");
}
/* .banner-container .banner-content{
  width: 770px;
} */
.early-access {
  color: #30b868;
  background-color: #ffffff;
  padding: 9px 12px;
  border-radius: 20px;
}

/* card section */
.card-container {
  margin-top: 80px;
  text-align: center;
}
.card-content {
  display: flex;
  gap: 24px;
}
.card {
  text-align: center;
  padding: 24px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.card img {
  background-color: rgba(249, 85, 85, 1);
  border-radius: 100%;
  padding: 14px;
}
